/*--------------------- eventbevents styling ------------------------ */
/*ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#results {
    display: inline;
}*/
/*Curently CSS is inline due to time constraints for project. Will transfer soon.*/