<!-- Activity Buttons -->
 <!--  <form id="act-form" class="btn-group btn-group-justified" action="/events" method="GET">
    <div class="btn-group btn-group-justified" id="activities" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" name="activity" type="submit" id="a1" value="{{ a1 }}" >{{ a1 }}</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" name="activity" type="submit" id="a2" value="{{ a2 }}">{{ a2 }}</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" name="activity" type="submit" id="a3" value="{{ a3 }}">{{ a3 }}</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" name="activity" type="submit" id="a4" value="{{ a4 }}">{{ a4 }}</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" name="activity" type="submit" id="a5" value="{{ a5 }}">{{ a5 }}</button>
      </div>
    </div>
  </form> -->