{% extends 'base.html' %}

{% block content %}

    <!-- Category Buttons -->
  <div class="container">
    <form id="cat-form">
        <label for="filter">Filter by:</label>
        <select name="filter" class="form-control">
          <option value="0" selected>All Events</option>
          <option value="1">Happening Today</option>
          <option value="2">Happening this Week</option>
          <option value="3">Happening this Month</option>
          <option value="4">Free Events</option>
        </select>
        <br>
      <label for="contain">Address:</label><br>
        <input required name="location" id="searchTextField" class="span5" placeholder="  Location: City, State, Zip" type="text" size="50"></input>
        <br>
        <br>
      <div class="btn-group btn-group-justified" id="categories" role="group">
        {% for category in category_list %}
        <div class="btn-group" role="group">
          <img src="{{ category[1] }}" width="100%" padding="1.5em" >
          <button type="button" class="btn btn-default" id="{{ category[0] }}" name="category[0]" value="{{ category[0] }}">{{ category[0] }}</button>
        </div>
        {% endfor %}
      </div>
        <input id="act_id" type="hidden" value="" name="act_id"></input>
    </form>
    <div>
      <h2>Trending Events</h2>


    </div>
  </div>
 
 {% endblock %}

 {% block js %}

<script>
function doclick() {
    times++;
    location.hash = times;
}
window.onhashchange = function() {       
    if (location.hash.length > 0) {        
        times = parseInt(location.hash.replace('#',''),10);     
    } else {
        times = 0;
    }
}

// Need to research this function
window.onpageshow = function (event) {
  if (event.persisted) {
    window.location.reload()
  }
}; 

// Prevent enter key from submitting location form


// First round of categories to switch out buttons with activities
    $(".btn").on('click', function (evt) {  
      evt.preventDefault();
      $(".btn").unbind('click');
      $(this).blur();
      var category = $(this).val();
      var url ="/activities.json?category=" + category;
      $.get(url, function (data) {
        var activities = (Object.keys(data));
        var act_ids = (Object.values(data));
        console.log(activities)
        console.log(act_ids)
        var categories = $(".btn");
        for (var i=0; i < categories.length; i++)
        {
          categories[i].id=categories[i].id.replace(/\s+/g, '');
          $("#"+categories[i].id).html(activities[i]).attr('value', act_ids[i]);
        }
        $("#cat-form").attr('action', "/event-list");
        $(":button").attr('type', "submit");
      });
    });
        
          var getEvent = function (evt) {
          evt.preventDefault();
          $("#cat-form").unbind('submit');
          var choice = $(this).find("button[type=submit]:focus");
          choice.blur();
          var act_id = choice.val();
          $("#act_id").attr('value', act_id);
          $("#cat-form").trigger("submit");
          };
        
          $("#cat-form").on('submit', getEvent);


// google maps API to autocomplete address
function initialize() {

  var input = document.getElementById('searchTextField');
  var autocomplete = new google.maps.places.Autocomplete(input);
}

  google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endblock %}