{% extends 'base.html' %}

{% block content %}

    <!-- Category Buttons -->
  <div id="mood-message">
    <p id="geo-alert"></p>
    <p id="detail" name="cat_id">Today is {{ weekday }}</p>
    <p id="mood">What are you in the mood for?</p>
  </div>
    <br>
    <form onsubmit="getLocation()" action="" id="cat-form" class="btn-group btn-group-justified">
      <div class="btn-group btn-group-justified" id="categories" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" name="category" id="c1" value="{{ c1 }}">{{ c1 }}</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" name="category" id="c2" value="{{ c2 }}">{{ c2 }}</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" name="category" id="c3" value="{{ c3 }}">{{ c3 }}</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" name="category" id="c4" value="{{ c4 }}">{{ c4 }}</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" name="category" id="c5" value="{{ c5 }}">{{ c5 }}</button>
        </div>
      </div>
    </form>
 
 {% endblock %}

 {% block js %}
  <script>
    $(":button").on('click', function (evt) {  
      evt.preventDefault();
      $(":button").unbind('click');
      var category = $(this).val()
      console.log("submitted");
      var url ="/activities.json?category=" + category;
      $.get(url, function (data) {
        var [a1, a2, a3, a4, a5] = (Object.keys(data));
        var [c1, c2, c3, c4, c5] = (Object.values(data));
        console.log(c1, c2, c3, c4, c5);
        $("p#detail").replaceWith("Great! So you feel like " + category);
        $("p#mood").replaceWith("<br>What are you interested in?");
        $("#c1").html(a1).attr('value', c1);
        $("#c2").html(a2).attr('value', c2);
        $("#c3").html(a3).attr('value', c3);
        $("#c4").html(a4).attr('value', c4);
        $("#c5").html(a5).attr('value', c5);
        $("#cat-form").attr('action', "/event-list");
        $(":button").attr('type', "submit");
      });
    });

    function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
          $("#geo-alert").html("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        $("#geo-alert").html("Latitude: " + position.coords.latitude + 
        "<br>Longitude: " + position.coords.longitude);
    }

    function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            var zipcode = prompt("Please enter a zipcode to narrow down your results", 94122)
            break;
        case error.POSITION_UNAVAILABLE:
            $("#geo-alert").html("Location information is unavailable.")
            break;
        case error.TIMEOUT:
            $("#geo-alert").html("The request to get user location timed out.")
            break;
        case error.UNKNOWN_ERROR:
            $("#geo-alert").html("An unknown error occurred.")
            break;
    }
}
</script>
{% endblock %}


