{% extends 'base.html' %}

{% block content %}

    <!-- Category Buttons -->
  <div id="mood-message">
    <p id="geo-alert"></p>
    <p id="detail" name="cat_id">Today is {{ weekday }}</p>
    <p id="mood">What are you in the mood for?</p>
  </div>
    <br>
  </div>
    <form id="cat-form" class="btn-group btn-group-justified">
      <div class="btn-group btn-group-justified" id="categories" role="group">
        {% for category in category_list %}
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="{{ category }}" name="category" value="{{ category }}">{{ category }}</button>
        </div>
        {% endfor %}
      </div>
        <input id="location" type="hidden" value="" name="location"></input>
        <input id="act_id" type="hidden" value="" name="act_id"></input>
    </form>
 
 {% endblock %}

 {% block js %}

<script>

    $(".btn").on('click', function (evt) {  
      evt.preventDefault();
      $(".btn").unbind('click');
      var category = $(this).val();
      console.log("submitted");
      var url ="/activities.json?category=" + category;
      $.get(url, function (data) {
        var activities = (Object.keys(data));
        var act_ids = (Object.values(data));
        console.log(activities)
        console.log(act_ids)
        $("p#detail").replaceWith("Great! So you feel like " + category);
        $("p#mood").replaceWith("<br>What are you interested in?");
        var categories = $(".btn");
        for (var i=0; i < categories.length; i++)
        {
          categories[i].id=categories[i].id.replace(/\s+/g, '');
          $("#"+categories[i].id).html(activities[i]).attr('value', act_ids[i]);
        }
        $("#cat-form").attr('action', "/event-list");
        $(":button").attr('type', "submit");
      });
    });

        $("#cat-form").on('submit', function (evt) {
          evt.preventDefault();
          $("#cat-form").unbind('submit');
          var act_id = $(this).find("button[type=submit]:focus").val();
          console.log(act_id)
          var location = prompt("Please enter an address, city name, or zipcode to narrow down your results");
          console.log(location)
          $("#act_id").attr('value', act_id);
          $("#location").attr('value', location);
          $("#cat-form").trigger("submit");
          });
</script>
{% endblock %}
